<%if !current_user.developer? %>
 <%= search_form_for @q do |f| %>
  
    <%= f.label :name_cont, "Project" %>
    <%= f.text_field :name_cont %>
    <%= f.submit "Search" %>
 <% end %>
<%end%>



<h1>All Projects</h1>
<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project%>
    </li>
  <% end %>
</ul> 
<% if current_user.manager? %>
  <%= link_to 'New Project', new_project_path %>
<%end%>


