<h1>New Project</h1>
<%= form_with model: @project, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
 
  <div>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <% if @project.errors[:name].any? %>
    <p><%= @project.errors[:name].first %></p>
  <% end %>
</div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>


  <template data-nested-form-target="template">
    <%= f.fields_for :collaborations, Collaboration.new, child_index: 'NEW_RECORD' do |collaboration_fields| %>
    <%= render "projects/project_collaboration_form", f: collaboration_fields %>
    <% end %>
  </template>

  
  
    <div data-nested-form-target="target"></div>
  <button type="button" data-action="nested-form#add">Add User</button>

  <div>
    <br>
    <br>
    <%= f.submit %> 
  </div>
  
<% end %>

<%= link_to 'Back', projects_path %>



<%# bin/importmap pin stimulus-nested-form %>