<h1>Edit <%= @bug.title %> Bug</h1>

<%= form_with(model: [@project, @bug], local: true) do |form| %>

  <%= form.hidden_field :project_id, value: @project.id %>
  <p>
    <%= form.label :category%> <br>
    <h3><%= @bug.category %></h3>
  </p>
  <p>
    <% if @bug.category == 'bug' %>
      <% bug_status = ['newly', 'started', 'resolved'] %>
    <% elsif @bug.category == 'feature' %>
      <% bug_status = ['newly', 'started', 'completed'] %>
    <% end %>
    <%= form.label :status %>
    <%= form.select(:status, bug_status, {}, required: true, id: 'Bugz_status') %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

